<!-- <pre>{{ phoneSelected.phoneData | json }}</pre> -->
<div  class="contaner-fluid">
	<div class="row-fluid">

		<div class="col-md-4">
			<h3>{{phoneSelected.phoneData.name}}</h3><br/>
			<img ng-src="{{phoneSelected.phoneData.images[0]}}" class="phone">
		</div>

		<div class="col-md-8">
			<p>{{phoneSelected.phoneData.description}}</p>

			<ul class="phone-thumbs list-inline">
			  <li ng-repeat="img in phoneSelected.phoneData.images" class="thumbnail">
			    <img ng-src="{{img}}" style="width: 150px;">
			  </li>
			</ul>

			<ul class="specs">
			  <li>
			    <dl>
			      <dt>Availability and Networks</dt>
			      	<dd ng-repeat="availability in phoneSelected.phoneData.availability">{{availability}}</dd>
			    </dl>
			  </li>
			    
			  <li>
			  	<dl>
					<dt>Additional Features</dt>
						<dd>{{phoneSelected.phoneData.additionalFeatures}}</dd>
			  	</dl>
			  </li>

			  <li>Infrared <span>{{phoneSelected.phoneData.connectivity.infrared | checkmark}}</span></li>

			  <li>GPS <span>{{phoneSelected.phoneData.connectivity.gps | checkmark}}</span></li>

			  <li>touchScreen <span>{{phoneSelected.phoneData.display.touchScreen | checkmark }}</span></li>

			  <li>accelerometer <span>{{phoneSelected.phoneData.hardware.accelerometer | checkmark }}</span></li>

			  <li>physicalKeyboard <span>{{phoneSelected.phoneData.hardware.physicalKeyboard | checkmark }}</span></li>

			  <li>fmRadio <span>{{phoneSelected.phoneData.hardware.fmRadio | checkmark }}</span></li>
			</ul>
		</div>

	</div>
</div>